<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="alien" class="com.dilusha.Alien" scope="prototype">-->
<!--    </bean>-->

    <bean id="alien1" class="com.dilusha.Alien" autowire="byType">

        <property name="age" value="12"/>
        <property name="com" ref="com2"/>

<!--        <constructor-arg type="com.dilusha.Laptop" ref="lap1"/>-->
<!--        <constructor-arg type="int" value="30"/>-->

<!--        <constructor-arg index="1" ref="lap1"/>-->
<!--        <constructor-arg index="0" value="30"/>-->


<!--        <constructor-arg name="lap" ref="lap1"/>-->
<!--        <constructor-arg name="age" value="30"/>-->


    </bean>

    <bean id="com1" class="com.dilusha.Laptop" primary="true">
    </bean>

    <bean id="com2" class="com.dilusha.Desktop" lazy-init="true">
    </bean>
</beans>